@import "./base.css";
@import "tailwindcss";
@import "@nuxt/ui-pro";

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  font-weight: normal;
  background-color: #fe8422;
}

h1 {
  font-weight: bold;
  font-size: 4.063rem;
}
p {
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  /*color: hsla(160, 100%, 37%, 1);*/
  transition: 0.4s;
  font-weight: 600;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: #103afa;
    border-radius: 6px;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    display: grid;
    grid-template-rows: 1fr;
    background-color: #fe8422;
    color: #fff;
  }
}
